# Junk files created by vim inside Git Bash
*.*~
.*.*~

# IntelliJ project files
.idea/
*.iml

# Compiled Java sources
target/

# Generated CSS/JS
dist/

# JS dependencies
node_modules/

# Environment files
*.env
!template.env

# Other sensitive files
conf/certs/
.secretkey
